.header {
    background-color: rgb(200,200,200);
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 10px;
}

.content {
    background-color: rgb(245,245,245);
    border: 1px solid black;
    padding: 5px;
}

h1 {
    font-size: 1.5em;
    margin: 5px 0 5px 0;
}